<nav class="text-2xl font-bold text-center first-bg-color p-4">
  <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
    <div class="flex flex-shrink-0 items-center">
      <a class="navbar-brand" href="#">Recipe Book</a>
    </div>
    <div class="navbar sm:ml-6 sm:block">
      <ul class="flex space-x-4">
              <li
                class="menu-item"
                aria-current="page"
                [ngClass]="currentSection === 'recipes'? 'menu-item-active':''"
              >
                <a class="menu-item-link" href="#" data-section="recipes"
                   (click)="setCurrentSection($event)">Recipes</a>
              </li>
        <li
          class="menu-item"
          aria-current="page"
          [ngClass]="currentSection === 'shoppingList'? 'menu-item-active':''"
        >
          <a class="menu-item-link" href="#" data-section="shoppingList" (click)="setCurrentSection($event)">Shopping
            List</a>
        </li>
      </ul>

      <ul
        class="navbar-right dropdown"
        appDropdown
      >
        <li class="dropdown-toggle menu-item">
          <a class=" menu-item-link" href="#">
            Manage
            <svg class="angle-down w-5 h-5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                 width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                    d="m19 9-7 7-7-7"/>
            </svg>
          </a>
        </li>

        <li class="dropdown-menu pt-2 top-6">
          <ul role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
            <li>
              <a href="#" class="menu-item block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                 id="user-menu-item-0">Save Data</a>
            </li>
            <li>
              <a href="#" class="menu-item block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                 id="user-menu-item-1">
                Fetch Data
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
