<nav class="text-2xl font-bold text-center first-bg-color p-4">
  <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
    <div class="flex flex-shrink-0 items-center">
      <a class="navbar-brand" href="#">Recipe Book</a>
    </div>
    <div class="navbar sm:ml-6 sm:block">
      <ul class="flex space-x-4">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <li
          class="menu-item"
          aria-current="page"
          [ngClass]="currentSection === 'recipes'? 'menu-item-active':''"
        >
          <a class="menu-item-link" href="#" data-section="recipes" (click)="setCurrentSection($event)">Recipes</a>
        </li>
        <li
          class="menu-item"
          aria-current="page"
          [ngClass]="currentSection === 'shoppingList'? 'menu-item-active':''"
        >
          <a class="menu-item-link" href="#" data-section="shoppingList" (click)="setCurrentSection($event)">Shopping
            List</a>
        </li>
      </ul>
      <ul class="navbar-right">


        <div class="relative ml-3">
          <div>
            <li class="menu-item dropdown">
              <a href="#">Manage</a>
            </li>
          </div>

          <!--
            Dropdown menu, show/hide based on menu state.

            Entering: "transition ease-out duration-100"
              From: "transform opacity-0 scale-95"
              To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
              From: "transform opacity-100 scale-100"
              To: "transform opacity-0 scale-95"
          -->
          <ul
            class="dropdown-menu"
            role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
            <!-- Active: "bg-gray-100", Not Active: "" -->
            <li>
              <a href="#" class="menu-item block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                 id="user-menu-item-0">Save Data</a>
            </li>
            <li>
              <a href="#" class="menu-item block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                 id="user-menu-item-1">
                Fetch Data
              </a>
            </li>
          </ul>
        </div>
      </ul>


    </div>
  </div>
</nav>
