<div class="grid grid-rows-5">
  <img class="h-full object-cover" src="https://placehold.co/300x200" alt="">
  <h3>Recipe Name</h3>
  <div class="btn-group">
    <div
      class="dropdown relative flex ml-3"
      appDropdown
    >
      <div class="menu-item">
        <button
          class="flex items-center btn btn-first dropdown-toggle">
          Manage Recipe
          <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
               viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m1 1 4 4 4-4"/>
          </svg>
        </button>
      </div>

      <!--
        Dropdown menu, show/hide based on menu state.

        Entering: "transition ease-out duration-100"
          From: "transform opacity-0 scale-95"
          To: "transform opacity-100 scale-100"
        Leaving: "transition ease-in duration-75"
          From: "transform opacity-100 scale-100"
          To: "transform opacity-0 scale-95"
      -->
      <ul
        class="dropdown-menu mt-16"
        role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
        <!-- Active: "bg-gray-100", Not Active: "" -->
        <li>
          <a href="#" class="menu-item block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
             id="user-menu-item-0">
            To Shopping List</a>
        </li>
        <li>
          <a href="#" class="menu-item block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
             id="user-menu-item-1">
            Edit Recipe
          </a>
        </li>
        <li>
          <a href="#" class="menu-item block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
             id="user-menu-item-2">
            Delete Recipe
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div>Description</div>
  <div>Ingredients</div>
</div>
