<div>
  <app-shopping-edit/>
  <hr>
  <div class="shopping-list-item second-bg-color p-4 my-2.5  rounded-md">
    <button type="button">Shopping List</button>
  </div>
  <div class="first-bg-color p-4 my-2.5  rounded-md">
    <button type="button">Shopping List</button>
  </div>
  <div class="shopping-list-item first-bg-color p-4 my-2.5  rounded-md">
    <button type="button">Shopping List</button>
  </div>
  <div class="shopping-list-item third-bg-color p-4 my-2.5  rounded-md">
    <button type="button">Ingredient</button>
  </div>
</div>
