<div class="second-bg-color p-4 my-2.5 rounded-md">
  <h2>Recipes Book</h2>
</div>
<div class="grid grid-cols-12 gap-x-2 ">
  <app-recipe-list
    class="col-span-6"
  />
  <!--  <app-recipe-detail
      class="col-span-6"
    *ngIf="selectedRecipe; else infoText"
      [recipe]="selectedRecipe"
    />
    <ng-template #infoText>
      <div class="recipe-detail-placeholder">Please select a Recipe</div>
    </ng-template>-->
  <div class="col-span-6">
    <router-outlet *ngIf="selectedRecipe;else infoText"/>
    <ng-template #infoText>
      <div class="recipe-detail-placeholder">Please select a Recipe</div>
    </ng-template>
  </div>
</div>
