<main class="font-color-one">
  <h1 class="text-3xl font-bold text-center first-bg-color py-4">
    Hello world!
  </h1>
  <div class="container mx-auto px-5 py-5">
    <h2 class="text-2xl font-bold text-center first-bg-color py-4">Header</h2>
    <div class="flex justify-between text-center gap-x-7">
      <div class="basis-1/2">
        <div class="second-bg-color p-4 my-2.5  rounded-md">Shopping List</div>
        <div class="first-bg-color p-4 my-2.5  rounded-md">Shopping List</div>
        <div class="first-bg-color p-4 my-2.5  rounded-md">Shopping List Edit</div>
        <div class="third-bg-color p-4 my-2.5  rounded-md">Ingredient</div>
      </div>
      <div class="basis-1/2">
        <div class="second-bg-color p-4 my-2.5  rounded-md">Recipe Book</div>
        <div class="first-bg-color p-4 my-2.5  rounded-md">Recipe List</div>
        <div class="first-bg-color p-4 my-2.5  rounded-md">Recipe Item</div>
        <div class="first-bg-color p-4 my-2.5  rounded-md">Recipe Detail</div>
        <div class="third-bg-color p-4 my-2.5  rounded-md">Recipe</div>
      </div>
    </div>
  </div>
  <div class="flex justify-end gap-x-3 text-center">
    <div class="min-w-80 third-bg-color p-4 my-2.5 rounded-md">Model</div>
    <div class="min-w-80 first-bg-color p-4 my-2.5 rounded-md">Component</div>
    <div class="min-w-80 second-bg-color p-4 my-2.5 rounded-md">Feature</div>
  </div>
</main>
