/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
}

.first-bg-color {
  @apply bg-orange-400;
}

.second-bg-color {
  @apply bg-fuchsia-950;
}

.third-bg-color {
  @apply bg-orange-300;
}

.font-color-one {
  @apply text-yellow-200;
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}

.btn-blue:hover {
  @apply bg-blue-700;
}

.btn-first {
  @apply bg-orange-400 text-yellow-200;
  &:hover {
    @apply bg-orange-500;
  }
}

.btn-second {
  @apply bg-fuchsia-950 text-yellow-200;
  &:hover {
    @apply bg-fuchsia-500;
  }
}

.recipe-item {
  @apply third-bg-color p-4 my-1 rounded-md;
  &:hover {
    @apply first-bg-color;
  }
}

.dropdown-menu{
  @apply absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none
}

