/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
}

.first-bg-color {
  @apply bg-amber-400;
}

.second-bg-color {
  @apply bg-fuchsia-950;
}

.third-bg-color {
  @apply bg-orange-300;
}

.font-color-one {
  @apply text-yellow-200;
}

.btn {
  @apply font-bold py-4 px-4 rounded;
}

.btn-green, .btn-success {
  @apply bg-green-500 text-white;

  &:hover {
    @apply bg-green-700;
  }
}
.btn-red, .btn-danger {
  @apply bg-red-500 text-white;

  &:hover {
    @apply bg-red-700;
  }
}

.btn-blue, .btn-primary {
  @apply bg-blue-500 text-white;

  &:hover {
    @apply bg-blue-700;
  }
}


.btn-first {
  @apply bg-orange-400 text-yellow-200;
  &:hover {
    @apply bg-orange-500 text-white;
  }
}

.btn-second {
  @apply bg-fuchsia-950 text-yellow-200;
  &:hover {
    @apply bg-fuchsia-500;
  }
}

.recipe-item {
  @apply block third-bg-color p-4 rounded-md;
  &:hover {
    @apply first-bg-color;
  }
}

.shopping-list-item {
  @apply flex rounded-md py-4 text-sm font-medium text-yellow-200 third-bg-color  hover:bg-orange-500 hover:text-white;
  &-selected {
    @apply bg-orange-400 text-white;
  }
}

.dropdown {
  @apply flex relative ;
  &-toggle {
    @apply text-yellow-200 bg-orange-300 hover:bg-orange-500 z-20 relative;
  }

  &-menu {
    @apply transition-all opacity-0 scale-95 absolute right-0 z-0 w-full origin-top-right rounded-b-md third-bg-color shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none;
    animation: entering ease-out .1s;

    &-item {
      @apply rounded-md;
      &:hover {
        @apply text-white first-bg-color
      }
    }
  }
}

.opened .dropdown-menu {
  @apply opacity-100 scale-100;
  animation: leaving ease-in .075s;
}

.menu-item {
  @apply flex rounded-md text-sm font-medium text-yellow-200  hover:bg-orange-500 hover:text-white;
  &-link {
    @apply flex items-center px-3 py-2;
  }
  &-active {
    @apply bg-orange-400 text-white;
  }
}

.opened .dropdown-toggle{
  @apply bg-orange-400 text-white hover:bg-orange-500;
}

.opened .angle-down {
  @apply transform rotate-180
}

@keyframes entering {
  from {
    @apply transform opacity-0 scale-95
  }
  to {
    @apply transform opacity-100 scale-100
  }
}

@keyframes leaving {
  from {
    @apply transform opacity-100 scale-100
  }
  to {
    @apply transform opacity-0 scale-95
  }
}

.recipe-detail-placeholder{
  @apply col-span-6 flex justify-center items-center font-bold py-4 px-4 rounded bg-orange-400 text-yellow-200;
}
