<div class="shopping-edit">
  <form>
    <div class="grid grid-cols-12 justify-between py-1.5">
      <div class="col-span-12 md:col-span-5">
        <div class="flex flex-col items-start">
          <label for="name">Name</label>
          <input
            class="w-full form-control"
            id="name" type="text"
            #name
          />
        </div>
      </div>
      <div class="col-span-12 md:col-start-10  md:col-span-3">
        <div class="flex flex-col items-start">
          <label for="amount">Amount</label>
          <input
            class="w-full form-control" id="amount" type="number"
            #amount
          /></div>
      </div>
    </div>
    <div class="flex flex-col md:flex-row justify-between gap-1 py-1">
      <button
        class="btn btn-success basis-1/3" type="button"
        (click)="addIngredient()"
      >Add
      </button>
      <button
        class="btn btn-danger basis-1/3" type="button"
        (click)="deleteItem()"
      >Delete
      </button>
      <button
        class="btn btn-primary basis-1/3" type="button"
        (click)="clearInputs()"
      >Clear
      </button>
    </div>
  </form>
</div>
